* {margin: 0;padding: 0;}
@view-transition {
    navigation: auto;
}
/* init fonts */
.jersey-10-regular {font-family: "Jersey 10", sans-serif;font-weight: 400;font-style: normal;}

/* init style */

.container {width:100vw;height:100vh;}
.header {width:100vw;height:100px;background-color: black;position: sticky;top: 0;display: flex;justify-content: space-between;align-items: center;}
.headersub {width:20%;display: flex;justify-content: space-between;align-items: center;}
.logo {width:270px;height:270%;}
.menu {height:100px;width:200px;color:white;display:flex;overflow:clip;text-align:center;font-family: "Jersey 10", sans-serif;align-items: center;}